body {
    font-family: 'Open Sans';
    
}

header {
    margin: 0px !important;
}

main {
    background-color: #F7F7F7;
    margin-top: 0px !important;
}

.header_container {
    display: flex;
    background-color: #FFF0ED;
    align-items: center;
    padding: 16px;
}

.nav_bar--logoname {
    display: flex;
    align-items: center;
}

.nav_bar--logo__icon {
    width: 50px;
}

.nav_bar--logo__title {
    display: inline;
    font-weight: 300;
    font-size: 60px;
    color: #393939;
    margin: 0px;
    margin-left: 8px;
}

.nav_bar {
    margin-left: 48px;  
    margin-top: 16px;  
}

.nav_bar--list {
    list-style: none;
    padding: 0px;
}

.nav_bar--list__item {
    display: inline;
    font-size: 21px;
    text-decoration: none;
    color: #393939;
    margin-right: 16px;
    font-weight: 400;
}

.nav_bar--list__page__selected {
    font-size: 1rem;
    color: #5BACC3;
    font-size: 21px;
    text-decoration: none;
}